.chatBody{

    height: 73vh;
    flex: 1;
    background-color: white;
}

.msgbody{
    background-color: gray;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    margin: 10px;
    max-width: 40vh;
}

.msgbody p{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    font-size: xx-small;
    color: rgb(107, 106, 106)
}
.msgbody h5{
    margin: 0;
}

.msgSend{
    background-color: rgb(10, 143, 143);
    margin-left: auto;
}



.chatBottum{
    position: fixed;
    bottom: 0;
    background-color: lightgrey;
    height: 5vh;
    padding: 10px;
    width: 100%;
}

.chatItems{
    border-radius: 20px;
    margin-right: 20px;
    height: 5vh;
    background-color: white;
    display: flex;
    justify-content: space-between;

}

.chatBottum input {
    flex: 1;
    border: none;
    outline: none;
    
}